<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>129203035939-t2oan2nfgue1angcr8n9msctfgl38nst.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.129203035939-t2oan2nfgue1angcr8n9msctfgl38nst</string>
	<key>API_KEY</key>
	<string>AIzaSyBWWf4bEQU6nxPtRGFtSmprAwAlOTWqs04</string>
	<key>GCM_SENDER_ID</key>
	<string>129203035939</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gardenCentral</string>
	<key>PROJECT_ID</key>
	<string>test0-dd9b5</string>
	<key>STORAGE_BUCKET</key>
	<string>test0-dd9b5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:129203035939:ios:2c9110f48babb51a81b696</string>
	<key>DATABASE_URL</key>
	<string>https://test0-dd9b5-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>